<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Línea de calzado</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>

<body>
    <div id='app'>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xs-12">

                    <h2>Línea de calzado</h2>

                    <h5>Selecciona tu rol</h5>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                            value="1" v-model="tipo">
                        <label class="form-check-label" for="inlineRadio1">Administrador</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                            value="2" v-model="tipo">
                        <label class="form-check-label" for="inlineRadio2">Secretario</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3"
                            value="3" v-model="tipo">
                        <label class="form-check-label" for="inlineRadio2">Vendedor</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4"
                            value="4" v-model="tipo">
                        <label class="form-check-label" for="inlineRadio2">Ensamblador</label>
                    </div>
                    <div v-show="tipo==1">
                         <div class="col-md-6">
                            <h5>Ingrese su contraseña:</h5>
                            <input maxlength="4" @keyup.enter="password" type="text" class="form-control" placeholder="ingrese su contraseña" v-model="cont1">
                         </div>
                    </div>
                    <div v-show="tipo==2">
                        <div class="col-md-6">
                            <h5>Ingrese su contraseña:</h5>
                            <input maxlength="4" @keyup.enter="password" type="text" class="form-control" placeholder="ingrese su contraseña" v-model="cont2">
                        </div>
                    </div>
                    <div v-show="tipo==3">
                        <div class="col-md-6">
                            <h5>Ingrese su contraseña:</h5>
                            <input maxlength="4" @keyup.enter="password" type="text" class="form-control" placeholder="ingrese su contraseña" v-model="cont3">
                        </div>
                    </div>
                    <div v-show="tipo==4">
                        <div class="col-md-6">
                            <h5>Ingrese su contraseña:</h5>
                            <input maxlength="4" @keyup.enter="password" type="text" class="form-control" placeholder="ingrese su contraseña" v-model="cont4">
                        </div>
                    </div>

                    <div v-show="tipo==1 && ver==1">
                        <div class="col-md-6">
                            <h5>Valor zapato C/U:</h5>
                            <input type="number" class="form-control" placeholder="Valor" v-model.number="eZto">         
                        </div>
                        <div class="col-md-6">
                            <h5>Valor zapatilla C/U:</h5>
                            <input type="number" class="form-control" placeholder="Valor" v-model.number="eZta">     
                        </div>
                        <div class="col-md-6">
                            <h5>Salario secretario:</h5>
                            <input type="number" class="form-control" placeholder="Valor" v-model.number="eSalarioB">     
                        </div>
                        <div class="col-md-6">
                            <h5>Salario vendedor:</h5>
                            <input type="number" class="form-control" placeholder="Valor" v-model.number="eSalarioB2">     
                        </div>
                        <div class="col-md-6">
                            <h5>Salario ensamblador:</h5>
                            <input type="number" class="form-control" placeholder="Valor" v-model.number="eSalarioB3">     
                        </div>
                        <div class="col-md-6">
                            <h5>Comisión vendedor 10%:</h5>
                            <input type="number" class="form-control" placeholder="Valor" v-model.number="eComi1">     
                        </div>
                        <div class="col-md-6">
                            <h5>Comisión vendedor 20%:</h5>
                            <input type="number" class="form-control" placeholder="Valor" v-model.number="eComi2">     
                        </div>
                        <div class="col-md-6">
                            <h5>cantidad máxima zapatos y zapatillas:</h5>
                            <input type="number" class="form-control" placeholder="Valor" v-model.number="eCantZ">     
                        </div>
                        <br>
                        <div class="col-md-6">
                            <input type="button" value="Editar" class="btn btn-success" v-on:click="editar">
                        </div>
                    </div>

                    <div v-show="ver==2 && tipo==2">
                        <div class="col-md-6">
                            <h5>Ingrese su nombre:</h5>
                            <input type="text" class="form-control" placeholder="ingrese nombre" v-model="nom1">
                        </div>
                        <div class="col-md-6">
                            <h5>Ingrese horas extras:</h5>
                            <input type="number" class="form-control" placeholder="horas extras" v-model.number="cant1">
                        </div>
                        <br>
                        <div class="col-md-6">
                            <input type="button" value="Procesar" class="btn btn-success" v-on:click="secretario">
                        </div>
                    </div>
                    <div v-show="ver==3 && tipo==3">
                        <div class="col-md-6">
                            <h5>Ingrese su nombre:</h5>
                            <input type="text" class="form-control" placeholder="Ingrese su nombre" v-model="nom1">
                        </div>
                        <div class="col-md-6">
                            <h5>Valor ventas en el mes:</h5>
                            <input type="number" class="form-control" placeholder="ventas del mes" v-model="valor1">
                        </div>
                        <br>
                        <div class="col-md-6">
                            <input type="button" value="Procesar" class="btn btn-success" v-on:click="vendedor">
                        </div>
                    </div>
                    <div v-show="ver==4 && tipo==4">
                        <div class="col-md-6">
                            <h5>Ingrese su nombre:</h5>
                            <input type="text" class="form-control" placeholder="Ingrese su nombre" v-model="nom1">
                        </div>
                        <div class="col-md-6">
                            <h5>Horas extras:</h5>
                            <input type="number" class="form-control" placeholder="horas extras" v-model="cant2">
                        </div>
                        <div class="col-md-6">
                            <h5>Cantidad zapatos ensamblados:</h5>
                            <input type="number" class="form-control" placeholder="cantidad emsanblada" v-model.number="cant3">
                        </div>
                        <div class="col-md-6">
                            <h5>Cantidad zapatillas ensambladas:</h5>
                            <input type="number" class="form-control" placeholder="cantidad emsanblada" v-model.number="cant4">
                        </div>
                        <div class="col-md-6">
                            <h5>Número de hijos:</h5>
                            <input type="number" class="form-control" placeholder="número de hijos" v-model.number="cant5">
                        </div>
                        <br>
                        <br>
                        <div class="col-md-6">
                             <input type="button" value="Procesar" class="btn btn-success" v-on:click="ensambla">
                         </div>
                    </div>
                </div>
                <div class="col-md-12 col-xs-12">
                    <h3>Información de los empleados</h3>
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr class="bg-dark text-white">
                                <td>Nombre</td>
                                <td>Cargo</td>
                                <td>Salario</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="objeto in arrayDatos"
                                v-bind:style="objeto.total>6000000?'color:red':'color:green'">
                                <td v-text="objeto.nombre"></td>
                                <td v-text="objeto.cargo"></td>
                                <td v-text="objeto.totalR"></td>
                            </tr>
                            <tr style="background-color: darkgray;">
                                <td colspan="1"></td>
                                <td align="right"><strong>Total</strong></td>
                                <td>{{result}}</td>                                                                                                                                  
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="js/vue.js"></script>
<script src="js/sweetalert2.all.min.js"></script>
<script src="js/main.js"></script>

</html>