<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Línea de calzado</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" >    
</head>
<body>
    <div id='app'>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    
                    <h2>Línea de calzado</h2>
                    
                    <h5>Selecciona tu rol</h5>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="1" v-model="tipo">
                        <label class="form-check-label" for="inlineRadio1">Administrador</label>
                    </div> 
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="2" v-model="tipo">
                        <label class="form-check-label" for="inlineRadio2">Secretario</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="3" v-model="tipo">
                        <label class="form-check-label" for="inlineRadio2">Vendedor</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="4" v-model="tipo">
                        <label class="form-check-label" for="inlineRadio2">Emsamblador</label>
                    </div>
                    <div v-show="tipo==1">
                        <div class="col-md-6">
                            <h5>Ingrese su contraseña:</h5>
                            <input type="number" class="form-control"  placeholder="ingrese su contraseña" v-model="cont1">
                        </div>
                    </div>
                    <div v-show="tipo==2">
                        <div class="col-md-6">
                            <h5>Ingrese su contraseña:</h5>
                            <input type="number" class="form-control"  placeholder="ingrese su contraseña" v-model="cont2">
                        </div>
                    </div>
                    <div v-show="tipo==3">
                        <div class="col-md-6">
                            <h5>Ingrese su contraseña:</h5>
                            <input type="number" class="form-control"  placeholder="ingrese su contraseña" v-model="cont3">
                        </div>
                    </div>
                    <div v-show="tipo==4">
                        <div class="col-md-6">
                            <h5>Ingrese su contraseña:</h5>
                            <input type="number" class="form-control"  placeholder="ingrese su contraseña" v-model="cont4">
                        </div>
                    </div>
                    <div v-show="tipo==2 && cont2==1234">
                        <div class="col-md-6">
                            <h5>Ingrese su nombre:</h5>
                            <input type="text" class="form-control"  placeholder="ingrese nombre" v-model="nom1">
                        </div>
                        <div class="col-md-6">
                            <h5>Ingrese horas extras:</h5>
                            <input type="number" class="form-control"  placeholder="horas extras" v-model="cant1">
                        </div>
                        <br>                            
                            <input type="button"value="Procesar"class="btn btn-success" v-on:click="procesar">                                                                      
                    </div>
                    <div v-show="tipo==3">
                        <div class="col-md-6">
                            <h5>Ingrese su nombre:</h5>
                            <input type="text" class="form-control"  placeholder="Username" v-model="nom2">
                        </div>
                        <div class="col-md-6">
                            <h5>Valor ventas en el mes:</h5>
                            <input type="number" class="form-control"  placeholder="ventas del mes" v-model="valor1">
                        </div>                        
                        <br>
                            <input type="button"value="Procesar"class="btn btn-success" v-on:click="procesar">                                          
                            
                    </div> 
                    <div v-show="tipo==4">
                        <div class="col-md-6">
                            <h5>Ingrese su nombre:</h5>
                            <input type="text" class="form-control"  placeholder="Username" v-model="nom3">
                        </div>
                        <div class="col-md-6">
                            <h5>Horas extras:</h5>
                            <input type="number" class="form-control"  placeholder="horas extras" v-model="cant2">
                        </div>
                        <div class="col-md-6">
                            <h5>Cantidad zapatos ensamblados:</h5>
                            <input type="number" class="form-control"  placeholder="cantidad emsanblada" v-model="cant3">
                        </div>
                        <div class="col-md-6">
                            <h5>Cantidad zapatillas ensambladas:</h5>
                            <input type="number" class="form-control"  placeholder="cantidad emsanblada" v-model="cant4">
                        </div>
                        <div class="col-md-6">
                            <h5>Número de hijos:</h5>
                            <input type="number" class="form-control"  placeholder="número de hijos" v-model="cant5">
                        </div>
                        <br>
                            <input type="button"value="Procesar"class="btn btn-success" v-on:click="procesar">                                          
                    </div>                   
                </div>                                                                                         
                <div class="col-md-12 col-xs-12">
                    <h3>Información del los empleados</h3>  
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr class="bg-dark text-white">
                                <td>Nombre</td>
                                <td>Cargo</td>
                                <td>Salario</td>                                                                                                                                                                                                                                                              
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="objeto in arrayDatos" v-bind:style="objeto.total>6000000?'color:red':'color:green'">
                                <td v-text="objeto.nom"></td>
                                <td v-text="objeto.cant"></td>
                                <td v-text="objeto.nuC"></td>                                                                                                                                                                   
                            </tr>
                            <tr style="background-color: darkgray;">
                                <td colspan="1"></td>
                                <td align="right"><strong>Total</strong></td>
                                <td>{{total1}}</td>                                                                                                                                  
                            </tr>
                        </tbody>
                    </table>                          
                </div>                                 
            </div>
        </div>
    </div> 

    
    

</body>

<script src="js/vue.js"></script> 
<script src="js/sweetalert2.all.min.js"></script> 
<script src="js/main.js"></script> 
</html>
